In [8]:
import psycopg2
from dotenv import load_dotenv
import os
load_dotenv()

# conn = psycopg2.connect(host='piRobert0301.local',database='mydatabase_a19',user='a19',password='raspberry')
conn = psycopg2.connect(host=os.environ['HOST_RENDER'],
                            database=os.environ['DATABASE_RENDER'],
                            user=os.environ['USER_RENDER'],
                            password=os.environ['PASSWORD_RENDER'])

In [17]:
# print(conn)
sql='''
CREATE TABLE IF NOT EXISTS 市場(
	name VARCHAR(20),
	country VARCHAR(20),
	PRIMARY KEY(name)
);
'''
cursor = conn.cursor()
# type(cursor)
cursor.execute(sql)

sql1='''
    CREATE TABLE IF NOT EXISTS 股市(
	stock_id SERIAL,
	date DATE,
	open NUMERIC(17,10),
	high NUMERIC(17,10),
	low NUMERIC(17,10),
	close NUMERIC(17,10),
	adj_close NUMERIC(17,10),
	volume BIGINT DEFAULT 0,
	name VARCHAR(20),
	PRIMARY KEY(stock_id),
	FOREIGN KEY(name) REFERENCES 市場(name) 
	ON DELETE NO ACTION
	ON UPDATE CASCADE
);
'''

cursor.execute(sql1)
conn.commit()
cursor.close()
conn.close()

In [18]:
import psycopg2

conn = psycopg2.connect(host='piRobert0301.local',database='mydatabase_a19',user='a19',password='raspberry')

with conn:
    with conn.cursor() as cursor:
        sql='''
            CREATE TABLE IF NOT EXISTS 市場(
	        name VARCHAR(20),
	        country VARCHAR(20),
	        PRIMARY KEY(name)
            ); '''
        cursor.execute(sql)

    with conn.cursor() as cursor:
        sql='''
            CREATE TABLE IF NOT EXISTS 股市(
            stock_id SERIAL,
            date DATE,
            open NUMERIC(17,10),
            high NUMERIC(17,10),
            low NUMERIC(17,10),
            close NUMERIC(17,10),
            adj_close NUMERIC(17,10),
            volume BIGINT DEFAULT 0,
            name VARCHAR(20),
            PRIMARY KEY(stock_id),
            FOREIGN KEY(name) REFERENCES 市場(name) 
            ON DELETE NO ACTION
            ON UPDATE CASCADE
        );'''
        cursor.execute(sql)

conn.close()

In [20]:
import psycopg2

conn = psycopg2.connect(host='piRobert0301.local',database='mydatabase_a19',user='a19',password='raspberry')

with conn:
    with conn.cursor() as cursor:
        sql='''
            CREATE TABLE IF NOT EXISTS 市場(
	        name VARCHAR(20),
	        country VARCHAR(20),
	        PRIMARY KEY(name),
            UNIQUE(name,country)
            ); '''
        cursor.execute(sql)

    with conn.cursor() as cursor:
        sql='''
            CREATE TABLE IF NOT EXISTS 股市(
            stock_id SERIAL,
            date DATE,
            open NUMERIC(17,10),
            high NUMERIC(17,10),
            low NUMERIC(17,10),
            close NUMERIC(17,10),
            adj_close NUMERIC(17,10),
            volume BIGINT DEFAULT 0,
            name VARCHAR(20),
            PRIMARY KEY(stock_id),
            FOREIGN KEY(name) REFERENCES 市場(name) 
            ON DELETE NO ACTION
            ON UPDATE CASCADE
        );'''
        cursor.execute(sql)

conn.close()